body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
#iPad {
  background-image: url("UI.png");
  background-size: cover;
  width: 100%;
  height: 768px;
}
#header {
  position: relative;
  height: 60px;
  width: 100%;
}
#map {
  position: relative;
  height: 696px;
  width: 100%;
}
#logo {
  position: absolute;
  /*border-width: 1px;
  border-style: solid;
  border-color: green;*/
  height: 35px;
  width: 35px;
  left: 17px;
  top: 10px;
}
#bars {
  position: absolute;
  /*border-width: 1px;
  border-style: solid;
  border-color: yellow;*/
  height: 35px;
  width: 35px;
  top: 10px;
  left: 467px;
}
#lines {
  position: absolute;
  /*border-width: 1px;
  border-style: solid;
  border-color: blue;*/
  height: 35px;
  width: 35px;
  top: 10px;
  left: 523px;
}
#globe {
  position: absolute;
  background-image: url("http://www2.psd100.com/ppp/2013/10/0401/globe-icon-1004130929.png");
  background-size: cover;
  /*border-width: 1px;
  border-style: solid;
  border-color: red;*/
  height: 25px;
  width: 25px;
  top: 15px;
  left: 575px;
}
.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: -10px;
  top: 10px;
  min-height: 150px;
  max-height: 450px;
  min-width: 125px;
  max-width: 300px;
  overflow: scroll;
}
#box {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  position: absolute;
  min-height: 200px;
  width: 250px;
  right: 25px;
  top: 100px;
}
#geocoder {
  position: absolute;
  top: 75px;
  right: 20px;
  font-size: 64px;
}
#settings {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  border-radius: 5px;
  border-color: rgb(141, 142, 141);
  box-shadow: 1px 1px 1px #888888;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  top: 110px;
  right: 20px;
  height: 600px;
  width: 225px;
}
#Properties{
  position: relative;
  /*top: 10px;*/
  height: 100px;
  width: 95%;
  left: 2.5%;
}
#Shelves{
  position: relative;
  top: 40px;
  height: 100px;
  width: 95%;
  left: 2.5%;
}
#Colorpicker{
  position: relative;
  top: 100px;
  left: 2.5%
}
#colorPicker1{
  position: relative;
  top: 60px;
}
#owl-demo .item{
  background: #3fbf79;
  padding: 5px 5px;
  margin: 5px;
  color: #FFF;
  height: 75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#owl-demo1 .item{
  background: #3fbf79;
  padding: 5px 5px;
  margin: 5px;
  color: #FFF;
  height: 75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.dropzone {
    display: inline-block;
    margin: 5px;
    width: 90px;
    height: 90px;
    border: 1px solid #a4a4a3;
    border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
